body {

	background-color: #D2B48C;
        font-family: Veranda, Geneva, Arial, Helvetica;
	font-size: 12pt;
	}
        
table {
    border-collapse: collapse;
    background-color: #F08080;
    color: #FFFFFF;
    width: 100%;
}


th {
    background-color: #FFFF99;
    color: #696969;
    height: 15px;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    vertical-align: bottom;
}

tr:hover {background-color: #CCCCCC}

tr:nth-child(even) {background-color: #EDEDED; color: black;}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #696969;
    box-sizing: border-box;
}

.right {text-align: right;}

.add td {border: none; height: 25px; padding: 10px; font-weight: bold;}

.update td {border: none; height: 25px; padding: 10px; font-weight: bold;}